* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#heart-app-entry-point {
  height: 100vh;
  width: 100vw;
  cursor: none;
}

#heart-app-entry-point .mouse-moving {
  cursor: crosshair;
}
